{
	admin off
}

{$SEARXNG_HOSTNAME} {
	encode zstd gzip

	# Allow search results to be cached by the browser
	header Cache-Control "public, max-age=300"

	# Block access to hidden files
	@hidden path_regexp \..*
	handle @hidden {
		respond "Not Found" 404
	}

	# Block access to system files
	@system path_regexp ^\/(etc|root|usr\/share)\/.*
	handle @system {
		respond "Not Found" 404
	}

	# Handle SearXNG requests
	reverse_proxy searxng:8080 {
		transport http {
			tls_insecure_skip_verify
		}
	}

	# Enable automatic HTTPS with Let's Encrypt
	tls {$SEARXNG_EMAIL} {
		ca https://acme-staging-v02.api.letsencrypt.org/directory
	}
}